* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
}

/* Background */

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  z-index: -1;
}

/* Conteudo */

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#personagem {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#personagem img {
    width: 15rem;
    height: 15rem;
}

#top-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 3.5rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    background: rgba(255, 255, 255, 0.548);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid rgba(0, 0, 0, 0.157);
}

#navegacao {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 5rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item {
    display: block;
    cursor: pointer;
    width: 5rem;
    margin-top: -2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item span {
    color: white;
}

.item-icon {
    margin-bottom: .2rem;

    transform: scaleX(-1);
}

.item-top {
    cursor: pointer;
    width: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.item-icon-top {
    transform: scaleX(-1);
}

.coins {
    color: yellow;
    font-size: 1rem;
    margin-left: .5rem;
}

/* Conteudo loja */

#market {
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    width: 100%;

    padding: 2rem 1rem;

    background: rgba(255, 255, 255, 0.548);
    
    display: flex;
    flex-direction: column;
}

#market h1 {
    margin-bottom: 2rem;
}

.item-shop {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;

    padding: 2rem 1rem;

    background: white;
    border-radius: 8px;
}